/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  background: linear-gradient(to right, #F5F7FA, #EDE9FE);
  color: #1E293B;
  font-family: 'Poppins', sans-serif;
}
section {
  padding: 90px 0;
}


/* Navbar */
.navbar {
  background-color: #F0F1FC;
}

.nav-link {
  color: #1E293B;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #5B21B6 !important;
  text-decoration: underline;
}

/* Hero Section */
.hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.hero-section h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.hero-section p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.hero-section .row {
  min-height: 400px;
  /* adjust */
  align-items: center;
}
.btn.btn-outline-dark:hover {
  background-color: #5B21B6;
  color: #ffffff;
  border: none;
}
.hero-section img {
  max-height: 450px;
  width: auto;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero-section img {
    width: 80%;
    max-height: none;
  }
}

/* About Me */
.about-heading:hover,
.skills-heading:hover,
.project-heading:hover,
.contact-heading:hover {
  color: #5B21B6 !important;
  text-decoration: underline;
}
#about p,
ul {
  line-height: 2;
}


/* Project Cards */
.card {
  border: 1px solid #E2E8F0;
  color: #1E293B;
  transition: all 0.3s ease;
}
.card-title {
  font-weight: 600;
  color: #1E293B;
  transition: color 0.3s ease;
}
.card-text {
  color: #475569;
  transition: color 0.3s ease;
}

/* Hover Effect */
.card:hover {
  background-color: #b9c4ec;
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
.card-img-top {
  height: 100%;
  object-fit: cover;
  width: 100%;
  display: block;
}

.card:hover .card-title,
.card:hover .card-text {
  color: #1E293B;
}
.card:hover .btn-outline-dark {
  border-color: #5B21B6;
  color: #5B21B6;
}
.card:hover .btn-outline-dark:hover {
  background-color: #5B21B6;
  color: #ffffff;
}

/* Contact Form */
.form-control,
textarea {
  background-color: #ffffff;
  color: #1E293B;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
}
.form-control::placeholder {
  color: #94A3B8;
}
.form-control:hover {
  border-color: #5B21B6;
}
.form-label {
  font-weight: 500;
}

/* Primary Button */
.btn-primary {
  background-color: #5B21B6;
  border: none;
}
.btn-primary:hover {
  background-color: #7C3AED;
}



@media (max-width: 1199px) {
  section {
    padding: 20px 0;
  }
}

@media (max-width: 992px)  {
  p.about-hide {
    display: none !important;
  }
}